@tailwind base;
@tailwind components;
@tailwind utilities;
/* 251, 251, 254 */
/* 254, 251, 242 */
.light{
   --background: 236, 236, 236;
   --text:5, 8, 4;
   --border-color:230, 230, 230,0.5;
   --shadow-color:0, 0, 0, 0.2;
   --secondary-background:221, 219, 230;
   --navlink-border-color: 25,25,25;
   --navlink-hover-color: 215, 215, 215;
   --navlink-img-bg: 242, 242, 242;
   --navlink-select-color:255, 117, 0;
   --dark-hover-color:181,181,181;
   --year-color:234, 233, 252;
   --card-bg-color:255, 255, 255;
   --card-border-color:0,0,0;
}

.dark{
   --background:0, 10, 15;
   --text:234, 233, 252;
   --border-color:239, 244, 246, 0.4;
   --shadow-color:0, 0, 0, 0.2;
   --secondary-background:2, 0, 36;
   --navlink-border-color: 234, 233, 252;
   --navlink-hover-color: 226, 226, 226, 0.3;
   --navlink-img-bg: 0, 15, 25, 0.7;
   --navlink-select-color:255, 117, 0;
   --dark-hover-color:255,255,255;
   --year-color:5, 8, 4;
   --card-bg-color:0,0,0;
   --card-border-color:222, 222, 222;
}

@layer components{
   .baseNavLink{
        @apply min-h-16 min-w-16
        flex flex-row justify-center items-center 
        text-text font-medium hover:bg-navlink-hover-color
        border-[2px] border-navlink-border-color rounded-lg
        mr-2 mt-2 px-1 py-1
        transitionAll duration-150;
   }

   .transitionAll{
      @apply transition-all duration-500 ease-linear;
   }

   .NormalCard{
      @apply w-[79%] h-64 px-3 py-3
      bg-card-bg-color border-2 border-card-border-color
      shadow-[5px_6px_0_rgba(var(--card-border-color))] 
      rounded-2xl mb-4 transitionAll cursor-crosshair
      grid grid-cols-3 grid-rows-6;
   }
}